/* .Person{
    text-align: center;
    border: 1px solid #eee;
    width: 60%;
    box-shadow: 0 2px 3px #ccc;
    margin: 16px auto;
    padding: 16px;
}
@media (min-width: 500px){
    .Person{
        width: '450px'
    }
} */